* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  padding: 0px 40px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.logo {
  font-size: 26px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.navcenter {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navcenter a {
  text-decoration: none;
  font-size: 16px;
  color: #1a1a1a;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
}

.navcenter a:hover {
  color: #00703e;
}


.navright {
  display: flex;
  align-items: center;
  gap: 20px;
}

.currency {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.bookbtn {
  background: #005f2f;
  color: #fff;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
}

.bookbtn:hover {
  background: #008a45;
}

/* Hamburger menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #000;
  border-radius: 3px;
}

@media (max-width: 900px) {
  .navcenter {
    position: absolute;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #ffffffee;
    backdrop-filter: blur(6px);
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    transition: 0.4s ease;
    z-index: 99;
  }

  .navcenter.open {
    left: 0;
  }

  .navright .currency,
  .navright .book-btn {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 15px 20px;
  }

  .logo {
    font-size: 22px;
  }

  .hamburger span {
    width: 22px;
  }
}

.ban{
  object-fit: contain;
  overflow-x: hidden;
  width: 100%;
  height: 20%;
  margin-top: -200px;
}
.banner h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100px;
  color:rgb(118, 28, 4);
  margin-top: -350px;
  text-align: center;
  letter-spacing: 15px;
}
