.ban {
    object-fit: contain;
    overflow-x: hidden;
    width: 100%;
    height: 20%;
    margin-top: -250px;
}

.banner h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    color: rgb(118, 28, 4);
    margin-top: -350px;
    text-align: center;
    letter-spacing: 15px;
}

.title-box {
    position: relative;
    z-index: 2;
    text-align: center;
}

.quote {
    font-size: 2.2em;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #fc036b, #41031d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -400px;

}

.line {
    width: 200px;
    height: 4px;
    margin: 10px auto 0;
    background: linear-gradient(90deg, #fc036b, #41031d);
    border-radius: 10px;
}

.ex-btn {
    margin: 50px auto;
    border: none;
    background: linear-gradient(90deg, #fc036b, #41031d);
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 5px;
}

